[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeassistant = "*"
pip = "==18.0"
"beautifulsoup4" = "~=4.6.3"
google-api-python-client = "*"
google-auth-oauthlib = "*"
locationsharinglib = "*"
myfitnesspal = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
